@CHARSET "UTF-8";
/* Left Menu */
header {
	background-color: #eee;
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
header img {
	width: 140px;
	height: 140px;
	margin: 5px 0;
}
header img:HOVER {
	cursor: pointer;
}
nav {
	position: absolute;
	left: 15%;
	bottom: 10px;
}
nav ul {
	list-style: none;
	font-size: 20px;
	font-weight: bold;
}
nav li {
	float: left;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 0 50%;
	padding: 10px 0px 10px 30px;
	margin: 10px 20px;
	border: 3px solid rgba(0, 0, 0, 0);
}
nav li:HOVER {
	border-bottom: 3px solid #06c;
}
nav li#home {background-image: url("../img/home.png");}
nav li#pack {background-image: url("../img/travel.png");}
nav li#shop {background-image: url("../img/shop.png");}
nav li#rvw {background-image: url("../img/review.png");}
nav li#qna {background-image: url("../img/qna.png");}
nav li#notice {background-image: url("../img/notice.png");}
nav li a {
	color: #000;
	text-decoration: none;
	display: block;
}

/* Right Menu */
div#submenu {
	width : 150px;
	height : 100%;
	background-color: #fff;
	position: fixed;
	right : 0px;
	top : 0px;
	border-left: 1px dotted #ccc;
}
div#submenu ul {
	list-style: none;
	margin-left: -40px;
	margin-top: 120%;
}
div#submenu ul li {padding: 5px 0 0 30px;}
div#submenu ul a {
	text-decoration: none;
	font-size: 15px;
	color: #000;
}
div#submenu embed {
	position: fixed;
	right: 0;
	bottom: 20%;
}


/* South Korea Map Start */
div#map object {height: 600px;}
polyline#pl_HD1_1_, polyline#pl_HD2_1_, 
polyline#pl_HD3_1_, polyline#pl_HD4_1_, 
polyline#pl_HD5_1_, polyline#pl_HD6_1_, 
polyline#pl_HD7_1_, polyline#pl_HD8_1_, 
polyline#pl_HD9_1_, polyline#pl_HI1_1_, 
polyline#pl_HI2_1_, polyline#pl_HI3_1_, 
polyline#pl_HI4_1_, polyline#pl_HI5_1_, 
polyline#pl_HI6_1_, polyline#pl_HI7_1_, 
path#sejong {
	fill: #0382aa;
	fill-opacity: 1;
	stroke: #fff;
	stroke-miterlimit: 1;
}
polyline#pl_HD1_1_ {}/*충청남도*/
polyline#pl_HD2_1_ {}/*제주도*/
polyline#pl_HD3_1_ {}/*경상남도*/
polyline#pl_HD4_1_ {}/*경상북도*/
polyline#pl_HD5_1_ {}/*전라북도*/
polyline#pl_HD6_1_ {}/*충청북도*/
polyline#pl_HD7_1_ {}/*강원도*/
polyline#pl_HD8_1_ {}/*경기도*/
polyline#pl_HD9_1_ {}/*전라남도*/
polyline#pl_HI1_1_ {}/*울산광역시*/
polyline#pl_HI2_1_ {}/*부산광역시*/
polyline#pl_HI3_1_ {}/*대구광역시*/
polyline#pl_HI4_1_ {}/*대전광역시*/
polyline#pl_HI5_1_ {}/*인천관역시*/
polyline#pl_HI6_1_ {}/*서울특별시*/
polyline#pl_HI7_1_ {}/*광주광역시*/
path#sejong {}/*세종특별자치시*/

polyline#pl_HD1_1_:hover, polyline#pl_HD2_1_:hover, 
polyline#pl_HD3_1_:hover, polyline#pl_HD4_1_:hover, 
polyline#pl_HD5_1_:hover, polyline#pl_HD6_1_:hover, 
polyline#pl_HD7_1_:hover, polyline#pl_HD8_1_:hover, 
polyline#pl_HD9_1_:hover, polyline#pl_HI1_1_:hover, 
polyline#pl_HI2_1_:hover, polyline#pl_HI3_1_:hover, 
polyline#pl_HI4_1_:hover, polyline#pl_HI5_1_:hover, 
polyline#pl_HI6_1_:hover, polyline#pl_HI7_1_:hover, 
path#sejong:hover {
	fill: #01385f;
	fill-opacity: 1;
}
/* South Korea Map End */


/*Main Page*/
body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to top, #d6a176, #f0e3d5);
}
div#wrap {
 	width: 1000px;
	height: 100%;
	min-height: 900px;
	padding-top: 10px;
	padding-bottom: 50px;
	margin: 0 auto;
	text-align: center;
	background-color: #eee;
}
div#index_wrap {
 	width: 1000px;
	height: 100%;
	padding-top: 50px;
	margin: 0 auto;
	text-align: center;
}
div#map {
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	padding-top: 20px;
	background: #92dccd;
	text-align: center;
	position: relative;
}
center {
	margin-top: 30px;
	font-weight: bold;
	color: #fff;
	font-size: 20px;
}
div#map div {
	width: 250px;
	height: 500px;
	background-color: #000;
	text-align: left;
	padding: 10px;
	color: #fff;
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
div#map div#seoul {top: 0%; right: 65%;}
div#map div#busan {bottom: 0%; left: 65%;}
div#map div#gyeonggi {top: 0%; right: 65%;}
div#map div#gangwon {top: 0%; left: 65%;}
div#map div#chungbuk {top: 0%; left: 65%;}
div#map div#chungnam {top: 0%; right: 65%;}
div#map div#jeonbuk {top: 0%; right: 65%;}
div#map div#jeonnam {bottom: 0%; right: 65%;}
div#map div#gyeongbuk {top: 0%; left: 65%;}
div#map div#gyeongnam {bottom: 0%; left: 65%;}
div#map div#jeju {bottom: 0%; right: 65%;}
div#map div img {
	width: 230px;
	height: 150px;
}
div#search {
	width: 600px;
	height: 58px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #4a73b1;
	border-radius: 30px;
	text-align: center;
	padding: 3px 0 0 0;
}
div#search input[type=submit]:hover {
	text-shadow: 1px 1px 3px #000;
	cursor: pointer;
}
div#search #area {
	width: 300px;
	border: 1px solid #4a73b1;
	border-radius: 15px;
	font-size: 20px;
	padding: 10px;
}
div#search input[type=submit] {
	width: 80px;
	height: 49px;
	border: 3px solid #4a73b1;
	background-color: #4a73b1;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}
div#main_go {
	width: 85px; 
	height : 50px;
	font-size: 2em;
	margin: 0 auto;
	margin-top: 50px;
}
div#login_join {
	width: 125px;
	height: 20px;
	font-size: 0.9em;
	color: gray;
	margin: 0 auto;
	margin-top: 50px;
}
div#footer {
	width: 100%;
	height: 200px;
}
input.login, input.enter, input.join {
	border: none;
	background-color: #4a73b1;
	height: 60px;
	margin: 50px 0 0 0;
	font-weight: bold;
	font-size: 25px;
	color: #fff;
}
input.login:hover, input.enter:hover, input.join:hover {
	background-color: #92dccd;
	cursor: pointer;
}
input.enter {width: 300px;}
input.login {
	width: 200px;
	border-radius: 50px 0 0 50px;
	padding-left: 30px;
}
input.join {
	width: 200px;
	border-radius: 0 50px 50px 0;
	padding-right: 30px;
}

/* Footer.jsp */
footer {
	width: 1000px;
	margin: 0 auto;
	background-color: #eee;
	height: 100px;
	font-size: 12px;
	color: #333;
	text-align: center;
}
footer a {
	text-decoration: none;
	color: #333;
	margin: 0 10px;
}
footer div#footer_bar {
	width: 1000px;
	background-color: #ccc;
	height: 25px;
	padding-top: 5px;
}
footer div#footer_bar div {
	width: 1000px;
	margin: 0 auto;
}
footer div#footer_misc {
	width: 1000px;
	margin: 0 auto;
	padding-top: 10px;
	line-height: 1.5em;
}