@CHARSET "UTF-8";
* {
	box-sizing: border-box;
	font-family: "나눔 고딕", "Noto Sans", sans-serif;
	text-align: center;
}
input {
	border: 1px solid #ddd;
	background-color: #fff;
}
input:HOVER {border: 1px solid #000;}
input:FOCUS {border: 1px solid #06c;}
input[type="button"], input[type="submit"] {
	background-color: #fff;
	color: #06c;
}
input[type="button"]:HOVER, input[type="submit"]:HOVER {
	border: 1px solid #06c;
	background-color: #06c;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
/*Join Id Check.jsp*/
div#idcheck {
	width: 300px;
	height: 150px;
	margin: 25px auto;
}
div#idcheck form input[type="text"] {width: 200px;}
div#idcheck form input[type="submit"] {
	width: 90px;
	height: 24px;
}
div#idcheck form p {
	height: 60px;
	padding: 5px 10px;
	background-color: #eee;
}
div#idcheck form input[type="button"] {
	width: 150px;
	height: 30px;
}

/*Email Check.jsp*/
div#emailchk {
	width: 300px;
	height: 25px;
	margin: 84px auto;
}
div#emailchk form input[type="text"] {width: 200px;}
div#emailchk form input[type="submit"] {
	width: 90px;
	height: 24px;
}

/*Email Check Update.jsp*/
div#emailchkup {
	width: 300px;
	margin: 65px auto;
}
div#emailchkup form label {margin-right: 10px;}
div#emailchkup form input[type="text"] {width: 240px;}
div#emailchkup form input[type="submit"] {
	width: 100px;
	height: 25px;
	margin-top: 10px;
}
/*passchange.jsp*/
/* div#passchange{ */
/* 	background-color: #dedede; */
/* } */
div#passchange form label {
	float: left;
	margin-left: 10px;
	text-align: right;
}
div#passchange form input[type="text"],
div#passchange form input[type="password"] {
	width: 150px;
	float: right;
	margin-right: 30px;
}
div#passchange form input[type="submit"],div#passchange form input[type="button"]  {
	width: 100px;
	height: 25px;
	margin-top: 10px; 
}





