@CHARSET "UTF-8";
/* Overall Components */
div#clear {clear: both;}
* {
	box-sizing: border-box;
	font-family: "나눔 고딕", "Noto Sans", sans-serif;
}
a#i{
	margin: 0 6px;
	color: #000;
	text-decoration:none;
}
a#i:HOVER {color: #06c;}
span#i{
	color: red;
	margin: 0 6px;
}
input[type="button"], input[type="submit"] {
	border: 1px solid #06c;
	background-color: #fff;
	color: #06c;
}
input[type="button"]:HOVER, input[type="submit"]:HOVER {
	background-color: #06c;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
table {border-collapse: collapse;}
article {
	background-color: #fff;
	padding: 30px 0;
}
div#article_head {
	width: 1000px;
	text-align: left;
	background-color: white;
}
div#article_head span.count {
	float: right;
	font-size: 12px;
	margin-right: 55px;
}
div#article_title, div#article_script{
	height: 80px;
	width: 1000px;
	margin: 0 auto;
	color: #fff;
	padding-left: 100px;
}
div#article_title {
	background-color: #fff;
	padding: 30px 0 30px 0px;
	border-bottom: 3px solid #06c;
	font-size: 30px;
	font-weight: bold;
	color: #06c;
	width: 900px;
	float: right;
}
div#article_script {
	background-color: #fff;
	color: #333;
	font-size: 15px;
	padding-top: 5px;
	height: 50px;
}

/* Main.jsp */
div#datepicker {
	height: 200px;
	width: 60%;
	min-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
}
div#notice, div#scheduler {
	float: left;
	width: 500px;
}
div#notice {padding: 20px;}
div#scheduler {
	background-color: #06c;
	height: 200px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}
div#scheduler form {
	text-align: left;
	margin-left: 40px;
	line-height: 1.5em;
}
div#scheduler form label {margin: 0 20px 10px 0;}
div#scheduler form input[type=text] {
	font-size: 20px;
	margin-bottom: 20px;
	width: 70%;
}
div#scheduler form select#area {
	font-size: 20px;
	width: 50%;
}
div#scheduler form input[type=submit] {
	font-size: 20px;
	width: 18%;
	border: 1px solid #fff;
	background-color: #06c;
	color: #fff;
	font-weight: bold;
}
div#scheduler form input[type=submit]:hover {background-color: #09f;}
div#package_show {
	height: 200px;
	width: 60%;
	min-width: 1000px;
	margin: 0 auto;
	margin-top: 15px;
}
div#package_show a {
	height: 200px;
	width: 33.3%;
	display: block;
	float: left;
	text-align: left;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
#package_show #pack1 {
	background-repeat : no-repeat;
	background-size: cover;
	background-position: center center;
 	transition: 0.4s;
 	background-position: left;
}
div#package_show a#pack2 {
	background-repeat : no-repeat;
	background-size: cover;
	background-position: center center;
 	transition: 0.4s;
 	background-position: center;
}
div#package_show a#pack3 {
	background-repeat : no-repeat;
	background-size: cover;
	background-position: center center;
 	transition: 0.4s;
 	background-position: right;
}
a#pack1 span, a#pack2 span, a#pack3 span {
	margin-left: 10px;
	display: block;
}
a#pack1 #pktt, a#pack2 #pktt, a#pack3 #pktt {
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
}
a#pack1 #pksc, a#pack2 #pksc, a#pack3 #pksc {
	height: 30px;
}
a#pack1 #pkpr, a#pack2 #pkpr, a#pack3 #pkpr {
	font-size: 25px;
	font-weight: bold;
}
div#goods_show {
	height: 200px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 15px;
	background-color: #ccc;
}
div#review_show {
	height: 200px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 15px;
	background-color: #fff;
	padding: 10px;
}
div#review_show div {
	height: 200px;
	width: 490px;
	float: left;
	padding: 10px;
}
div#datepicker div h1, div#review_show div h1 {
	text-align: left;
	font-size: 25px;
	height: 30px;
	margin: 0 0 10px 0;
}
div#datepicker div h1 a, div#review_show div h1 a {
	text-decoration: none;
	color: #333;
}
div#datepicker div h1 a span,
div#review_show div h1 a span {float: right;}
div#datepicker div h1 a span:HOVER,
div#review_show div h1 a span:HOVER {color: #f00;}
div#datepicker div table, div#review_show div table {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
}
div#datepicker div table tr, div#review_show div table tr {
	color: #565656;
	text-align: left;
	border-bottom: 1px dtted #999;
	height: 25px;
}
div#datepicker div table tr:HOVER, #review_show div table tr:hover {background-color: #cef;}
div#datepicker div table a, div#review_show div table a {
	text-decoration: none;
	color: #565656;
	padding-left: 10px;
}
div#datepicker div table td#num, div#review_show div table td#num {width: 20px;}
div#datepicker div table td#date, div#review_show div table td#date {width: 70px;}

/* Package.jsp */

div#package_feat {
	height: 300px;
	width: 60%;
	min-width: 1000px;
	margin: 0 auto;
	background-color: white;
}
div#package_slide, div#package_search {float: left;}
div#package_search {
	background-color: #f5b8d7;
	width: 400px;
	height: 300px;
	color: #fff;
	text-align: left;
	font-weight: bold;
	padding-top: 60px;
}
div#package_search p {
	text-align: center;
	font-size: 20px;
}
div#package_search form label {margin: 0 15px 0 25px;}
div#package_search form input[type=text] {
	font-size: 15px;
	width: 280px;
	margin-left: 4px;
}
div#package_search form select#area {
	font-size: 15px;
	width: 200px;
}
div#package_search form input[type=submit] {
	margin-left: 5px;
	font-size: 15px;
	width: 70px;
	border: 1px solid #fff;
	background-color: #f5b8d7;
	color: #fff;
	font-weight: bold;
}
div#package_search form input[type=submit]:hover {
	background-color: #ec8ed0;
	cursor: pointer;
}
div#package_list
{
	width: 100%;
	min-width: 850px;
	height: 100%;
	background-color: #fff;
	margin: 0 auto;
}

div#package_list table 
{
	border-collapse: collapse;
}

div#package_list table tr 
{
	padding-right: 10px;
	text-align: left;
}

div#package_list table img 
{
	width: 250px;
	height: 150px;
}

div#package_list table #subject 
{
	font-size: 20px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	width : 500px;
	padding-left : 10px;
}

div#package_list table #context 
{
	padding-left : 10px;
}

div#package_list table #price, div#package_list table #date 
{
	font-size: 20px;
	font-weight: bold;
	border-left: 1px dotted #ddd;
	border-top: 1px solid #ccc;
	width : 200px;
	text-align: center;
}

div#package_list table #context 
{
	text-align: justify;
}

div#pages 
{
	width: 60%;
	height: 40px;
	margin: 0 auto;
	padding-top: 10px;
}

div#package_feat a {}

div#package_tab {
	width: 60%;
	min-width: 1000px;
	margin : 20px auto;
	height: 1000px;
}
div#package_tab ul.tabs {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	list-style: none;
}
div#package_tab ul.tabs li {
	width: 9.09%;
 	height: 80px;
	float: left;
	padding-top : 20px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	line-height: 31px;
}
div#package_tab .tab_container {
	background-color : #F6F6F6;
	float: left;
	width: 100%;
	min-width: 1000px;
	min-height: 600px;
	margin-top : 20px;
	text-align: center;
}
div#package_tab  
{
	margin: 0 auto;
}
div#package_tab .img_size {
	width : 280px;
	height : 200px;
}
div#package_tab #img_content {
	padding : 0px;
	margin : 15px;
	border: 1px solid pink;
	background-color: white;
}
div#package_tab .tab_content a:LINK,
div#package_tab .tab_content a:VISITED {
	color : black;
	text-decoration: none;
}

input#admin_write
{
	margin-top : 20px;
}

.more_pack
{
	font-weight: bold;
}

.more_pack:HOVER
{
	cursor: pointer;
}


/* Package_write & Package_modify.jsp */
#wrap_pack table .td_size
{
	text-align: center;
}

/* Package_write & Package_modify.jsp */


/* Package_content.jsp */
#wrap_pack { 
	width: 860px; 
	min-height: 850px;
/* 	border : 1px solid black; */
 	margin: 50px auto;
	padding-top: 50px;
	text-align: left;
	background-color: #eee;
} 


/* 이미지 정보 부분 */
#top {
	width: 960px;
	height: 450px;
	padding-top : 20px;
/*  	border: 2px solid red;  */
}

#top_content
{
	width: 928px;
	height: 400px;
/* 	border: 2px solid green; */
}


#imgdiv ul
{
	list-style: none;
}

#imgdiv{
	width: 470px;
	height: 400px;
/* 	border: 3px solid orange; */
	float: left;
}

#imgdiv img {
	width: 470px;
	height: 300px;
	float: left;
}

#imgdiv ul li img{
	width: 80px;
	height: 80px;
	margin-top : 10px;
	margin-left : 5px;
}


#imgdiv ul li img:HOVER
{/* 이미지에 마우스를 올렸을 때 이벤트 */
	box-sizing : border-box;
	border : 5px solid #A6A6A6;
}

/* 이미지 정보 부분 */


/* 인원, 가격 정보 부분 */
#contentdiv1 {
	width: 400px;
	height: 400px;
 	border: 1px solid #F6F6F6;
	background-color : white;
	float: left;
	margin-left : 50px;
}

#content_notice
{
	font-size: 0.8em;
	color: gray;
}


#contentdiv1 table
{
	margin : 0 auto;
	margin-top : 30px;
 	border-collapse: collapse;
}


#contentdiv1 table tr
{
 	border-bottom : 1px dashed #D5D5D5;
}

.contentdiv1_1
{
	background-color: #F6F6F6;
}

.contentdiv1_1, .contentdiv1_2
{
	width : 120px;
	height : 50px; 
	text-align: center;
}

.contentdiv1_3
{
	width : 80px;
	height : 50px; 
	text-align: center;
}

#contentdiv1 #adult, #contentdiv1 #child 
{
	width : 40px;
}


.contentbtn
{
	width : 50px;
	height : 50px;
}

.contentbtn2
{
	width : 100px;
	height : 50px;	
}

/* 인원, 가격 정보 부분 */

	
/* 날짜정보 내용 */

#datecontent {
	width: 960px;
	height: 350px;
	border: 1px solid gray;
	overflow: auto;
}

#datecontent table
{
	border-collapse: collapse;
}	


#datecontent tr:FIRST-CHILD
{
	background-color: gray;
	height : 30px;
}

#datecontent tr.select_color:HOVER
{
	background-color: #D5D5D5;
	cursor: pointer;
}

#datecontent .date_td_size
{
	height : 50px;
	border-bottom : 1px solid black;
}

#datecontent #date_date
{
	width : 225px;
}

#datecontent #date_subject
{
	width : 525px;
}

#datecontent #date_cost
{
	width : 170px;
}

#datecontent #date_stock
{
	width : 70px;
}

#datecontent, #contentdiv2, #QnA, #top, #top_content
{
	margin: 0 auto;
}


/* 날짜정보 내용 */
	

/* 여행정보 내용 */

#contentdiv2 {
	width: 960px;
	min-height: 700px;
	border: 1px solid gray;
}

#contentdiv2_1
{
	width: 730px;
	min-height: 700px;
	margin : 0 auto;
	padding-top : 30px;
/* 	border: 3px solid red;	 */
}

/* 여행정보 내용 */

/* 구글맵 */


#map_canvas {
	width: 800px;
	height: 500px;
	margin: 0 auto;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}


/* 구글맵 */


/* 상품 문의 */
#QnA {
	width: 800px;
	min-height: 300px;
	border: 1px solid pink;
}

#replyTable
{
	background-color: white;
	
}

/* tr:nth-child(odd)  */
/* { */
/* 	background-color: #BFBFBF; */
/* } */

#replyContent
{	
	width: 700px;
	height : 50px;
}

#recontent, #contentup, #content
{
	width : 600px;
	height : 70px;
}

#replyWrite
{
	background-color: white;
}

/* 상품 문의 */



/* 추천상품 배너 */
#banner_sub
{
	margin : 0px;
	padding : 0px;
	width : 100px;
	height : 20px;
	border-top : 2px solid black;
	border-left : 2px solid black;
	border-right : 2px solid black;
	position : fixed;
	right : 513px;
	bottom : 185px;
	background-color: white;
	text-align: center;
	font-size: 0.8em;
	z-index : 1;
}

#banner
{
	margin : 0px;
	padding : 0px;
	width : 464px;
	height : 180px;
	border : 2px solid black;
	position : fixed;
	right : 150px;
	bottom : 5px;
	background-color: white;
	z-index : 1;
}

#banner_content
{
	position : relative;
	top : -20px;
}

#banner_content td
{
	text-align: center;
}


#banner img
{
	width : 150px;
	height : 150px;
}


#close
{
	background-color: black;
	color : white;
	width : 50px;
	height : 20px;
	float: right;
	position : relative;
	z-index: 1;
	text-align: center;
}

#close:HOVER
{
	cursor: pointer;
}
/* 추천상품 배너 */


/* 화면이동 리모컨 */

#remote_content
{
	width : 100px;
	height : 170px;
	position : fixed;
	right : 250px;
	bottom : 420px;
	background-color: white;
	text-align: center;
	border : 1px solid #BDBDBD;
	z-index : 1;
}

#remote_content:HOVER
{
	cursor: move;
}

#remote_control td
{
	border-bottom : 1px solid gray;
	color : #BBBBBB;
	text-decoration: none;
	font-size: 0.8em;
}

#remote_control td span:HOVER, #remote_close
{
	cursor: pointer;
}

/* 화면이동 리모컨 */

/* Package_content.jsp */






/* LoginForm.jsp */
div#member {
	width: 60%;
	min-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	padding: 100px 0;
	text-align: center;
}
div#member form input:HOVER {border: 1px solid #000;}
div#member form input:FOCUS {border: 1px solid #06c;}
div#login_form {
	margin: 0 auto;
	padding: 5px 20px;
	width: 500px;
}
div#login_form form {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
div#login_form form label {
	width: 100px;
	float: left;
	margin: 5px 0;
	text-align: right;
}
div#login_form form input {
	margin: 5px 0;
	border: 1px solid #999;
}
div#login_form form input[type="text"],
div#login_form form input[type="password"] {width: 200px;}
div#login_form table {
	width: 80%;
	border-collapse: collapse;
	margin: 10px auto;
	text-align: left;
}
div#login_form table tr#hr {border-bottom: 1px solid #ccc;}
div#login_form table input[type="button"] {width: 130px;}

/*Insert Form.jsp*/
div#insert_form {
	margin: 30px auto;
	padding: 10px 0;
	width: 600px;
	text-align: left;
}
div#insert_form form label {
	width: 120px;
	float: left;
	margin: 5px 30px 5px 0;
	text-align: right;
}
div#insert_form form input {
	margin: 5px 0;
	border: 1px solid #ccc;
}
div#insert_form form input[type="text"],
div#insert_form form input[type="password"] {
	width: 300px;
	padding: 5px;
}
div#insert_form form input#sample6_address,
div#insert_form form input#sample6_address2 {margin-left: 150px;}
div#insert_form form input[type="submit"],
div#insert_form form input[type="button"] {
	height: 30px;
	width: 100px;
}
div#insert_form form input[type="submit"] {
	margin: 20px 0 0 200px;
	width: 200px;
}

/*Find ID.jsp*/
div#findid_form {
	margin: 0 auto;
	padding: 5px 20px;
	width: 500px;

}
div#findid_form form {padding-bottom: 10px;}
div#findid_form form label {
	width: 100px;
	float: left;
	margin: 5px 0;
	text-align: right;
}
div#findid_form form input {
	margin: 5px 0;
	border: 1px solid #999;
}
div#findid_form form input[type="text"] {width: 200px;}

/*Find Pass.jsp*/
div#findpass_form {
	margin: 0 auto;
	padding: 5px 20px;
	width: 500px;
	text-align: left;
}
div#findpass_form form {padding-bottom: 10px;}
div#findpass_form form label {
	width: 100px;
	float: left;
	margin: 5px 30px 0 0;
	text-align: right;
}
div#findpass_form form input {
	margin: 5px 0;
	border: 1px solid #999;
}
div#findpass_form form input[type="text"] {width: 200px;}

/*Member Info.jsp*/
div#info_form {
	margin: 0 auto;
	padding: 5px 20px;
	width: 600px;
}
div#info_form table {
	border-collapse: collapse;
	margin-bottom: 30px;
	text-align: left;
	width: 100%;
}
div#info_form table tr {
	height: 40px;
	border-bottom: 1px solid #ddd;
}
div#info_form table th {
	text-align: left;
	width: 120px;
}

/*Member Update Form.jsp*/
div#m_update_form {
	margin: 30px auto;
	padding: 10px 0;
	width: 600px;
	text-align: left;
}
div#m_update_form form label {
	width: 120px;
	float: left;
	margin: 5px 30px 5px 0;
	text-align: right;
}
div#m_update_form form input {
	margin: 5px 0;
	border: 1px solid #ccc;
}
div#m_update_form form input[type="text"],
div#m_update_form form input[type="password"] {
	width: 300px;
	padding: 5px;
}
div#m_update_form form input#sample6_address,
div#m_update_form form input#sample6_address2 {margin-left: 150px;}
div#m_update_form form input[type="submit"],
div#m_update_form form input[type="button"] {
	height: 30px;
	width: 100px;
}
div#m_update_form form input[type="submit"] {margin: 20px 0 0 200px;}

/*Member Delete Form.jsp*/
div#m_delete_form {
	margin: 0 auto;
	padding: 5px 20px;
	width: 500px;
}
div#m_delete_form form {padding-bottom: 10px;}
div#m_delete_form form label {
	width: 100px;
	float: left;
	margin: 5px 0;
	text-align: right;
}
div#m_delete_form form input {
	margin: 5px 0;
	border: 1px solid #999;
}
div#m_delete_form form input[type="text"],
div#m_delete_form form input[type="password"] {width: 200px;}

/* Member List.jsp */
table#memberList {
	width: 1000px;
	text-align: left;
	background-color: #fff;
}
table#memberList th {border-bottom: 2px solid #06c;}
table#memberList td {
	border-bottom: 1px solid #06c;
	padding: 5px 0;
}
table#memberList td#imsi {
	border-bottom: 1px solid #ddd;
}

/* Board List.jsp */

div#board {
	width: 60%;
	min-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	padding: 5px;
	border-bottom: 3px solid #06c;
	min-height: 150px;
}
div#board_list {
	width: 90%;
	margin: 0 auto;
}
div#board_list table {
	border-collapse: collapse;
	margin-bottom: 20px;
	font-size: 15px;
	width: 100%;
}
div#board_list table tr {
	line-height: 1.75em;
	border-bottom: 1px solid #ddd;
}
div#board_list table span {
	text-decoration: bold;
}
div#board_list table tr:HOVER {background-color: #eee;}
div#board_list table th#num {width: 50px;}
div#board_list table th#cate {width: 100px;}
div#board_list table th#date {width: 100px;}
div#board_list table th#readcount {width: 50px;}
div#board_list table th#name {width: 100px;}
div#board_list table td#cate {font-weight: bold;}
div#board_list table td#title {
	text-align: left;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div#board_list table a {
	text-decoration: none;
	color: #000;
}
div#board_menu_bar input[type="button"] {
	float: left;
	margin: 0 5px;
}
div#board_menu_bar form {float: right;}
div#board_menu_bar form input[type="text"] {width: 150px;}
div#board_menu_bar form input[type="text"], div#board_menu_bar form select {
	border: 1px solid #06c;
	background-color: #fff;
}
div#board_menu_bar form input[type="text"]:FOCUS, div#board_menu_bar form select:HOVER, div#board_menu_bar form select:FOCUS {
	border: 1px solid #06c;
	cursor: pointer;
}
/*Board Content.jsp*/
div#board_content {
	width: 90%;
	margin: 20px auto;
}
div#board_content table {
	border-collapse: collapse;
	width: 100%;
}
div#board_content table tr {border-bottom: 1px solid #ccc;}
div#board_content table td#num {
	width: 90px;
	text-align: left;
}
div#board_content table td#readcount {
	width: 100px;
	text-align: right;
}
div#board_content table td#subject {
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
	
}
div#board_content table#content td#content {
	max-width: 600px;
	text-align: justify;
	font-size: 15px;
	font-weight: normal;
	min-height: 300px;
}
div#board_content table td#content img {max-width: 100%;}
div#board_content table#reply {text-align: justify;}
div#board_content table#reply td#name {
	width: 160px;
	font-weight: bold;
	border-right: 1px solid #ddd;
}
div#board_content table#reply td#date {
	width: 70px;
	font-size: 12px;
}
div#board_content table#reply td#content {padding-left: 10px;}
div#board_content table#reply td#delete {
	width: 30px;
}
div#board_content table#reply td#delete form input[type="button"] {
	border: 1px solid #fff;
	background-color: #fff;
}
div#board_content table#reply td#delete form input[type="button"]:HOVER {
	color: #f00;
	cursor: pointer;
}
div#board_content form#reply {
	width: 100%;
	height: 60px;
	position: relative;
	margin: 10px 0;
}
div#board_content form#reply span {
	position: absolute;
	display: block;
	height: 60px;
	width: 160px;
	left: 0;
	top: 0;
	font-weight: bold;
	padding-top: 20px;
	text-align: left;
}
div#board_content form#reply textarea {
	position: absolute;
	left: 160px;
	width: 625px;
}
div#board_content form#reply input[type="submit"],
div#board_content form#reply input[type="button"] {
	height: 60px;
	width: 80px;
	position: absolute;
	right: 0;
	top: 0;
}

/*Board Write.jsp*/
div#board_write {
	width: 800px;
	margin: 20px auto;
}
div#board_write form {width: 100%; text-align: left;}
div#board_write form label {
	width: 100px;
	float: left;
	margin: 2px 20px 2px 0;
	text-align: left;
}
div#board_write form input {
	margin: 2px 0;
	width: 679px;
}
div#board_write form textarea {width: 797px;}
div#board_write form input[type="submit"],
div#board_write form input[type="button"] {width: 150px;}


/*Board Delete.jsp*/
div#board_delete {
	margin: 100px auto;
	font-weight: bold;
}
div#board_delete form input[type="submit"] {
	width: 150px;
	font-size: 15px;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
}
div#board_delete form input[type="submit"]:HOVER {cursor: pointer;}

/*My Pack Basket List.jsp*/
form#pack_basket_list {
	width: 900px;
	margin: 0 auto;
}
form#pack_basket_list table {
	width: 100%;
}
form#pack_basket_list table tr {
	border-bottom: 1px solid #aaa;
	padding-top: 10px;
}
/*My Thing Basket List.jsp*/
form#goods_basket_list {
	width: 900px;
	margin: 0 auto;
}
form#goods_basket_list table {
	width: 100%;
}
form#goods_basket_list table img {
	width: 200px;
}
form#goods_basket_list table tr {
	border-bottom: 1px solid #aaa;
	padding-top: 10px;
}

/* My Order.jsp*/
form.gyeolje {background-color: #fff;}
form.gyeolje div {
	width: 80%;
	margin: 0px auto;
	padding: 10px 0;
	border-top: 1px solid #ddd;
	text-align: left;
}
form.gyeolje table {width: 100%;}
form.gyeolje caption {
	text-align: left;
	color: #06c;
	font-size: 20px;
	line-height: 2em;
}
form.gyeolje th {
	width: 150px;
	text-align: left;
	text-decoration: none;
	font-weight: normal;
}
form.gyeolje ul {list-style: none;}
div#packList caption span {
	color: #000;
	font-size: 15px;
}
div#packList caption span input {
	margin: 0 10px;
}
div#receive_info input[type="button"] {margin-left: 90px;}
td.trade_type1 div, td.trade_type2 div, td.trade_type3 div,
div.trade_type1, div.trade_type2 {width: 100%;}
td.trade_type1 div label {margin-right: 20px;}
div.trade_type1, div.trade_type2 {border-top: none !important;}
div.agree_li_view {border: 1px solid #ddd;}

/* My Pack Order List.jsp*/
div#list_view {
	width: 900px;
	margin: 0 auto;
}
div#list_view table {
	width: 100%;
	border-bottom: 2px solid #aaa;
	margin-bottom: 10px;
}
td#tr1td1, td#tr1td2, td#tr2td1,
td#tr2td2, td#tr3td1 {text-align: left;}
td#tr1td3, td#tr2td3, td#tr3td2 {text-align: right;}
td#tr1td1 {
	width: 200px;
	font-weight: bold;
}
td#tr1td3 {
	width: 150px;
}
td#tr1td4 {
	width: 120px;
	padding-top : 20px;
	font-weight: bold;
}
td#tr2td1 {
	height: 120px;
}
td#tr2td1 img
{
	width : 190px;
	height: 120px;
}
td#tr2td2 {
	font-weight: bold;
	font-size: 20px;
	color: #06c;
}
td#tr2td3 {
	font-weight: bold;
	font-size: 20px;
	color: #f60;
}

/* Pack Res.jsp */
form#pack_res {
	width: 900px;
	margin: 0 auto;
}
form#pack_res table {
	width: 100%;
	margin: 20px 0px;
	text-align: left!important;
	border-bottom: 2px solid #06c;
}
form#pack_res td#tr1td1 {width: 100px;}
form#pack_res td#tr1td2 {width: 250px;}